[submodule "/home/chief/.vim/bundle/colorschemes"]
	path = /home/chief/.vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "/home/chief/.vim/bundle/javascript"]
	path = /home/chief/.vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "/home/chief/.vim/bundle/jsx"]
	path = /home/chief/.vim/bundle/jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "/home/chief/.vim/bundle/editorconfig"]
	path = /home/chief/.vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "/home/chief/.vim/bundle/Dockerfile"]
	path = /home/chief/.vim/bundle/Dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "/home/chief/.vim/bundle/docker-tools"]
	path = /home/chief/.vim/bundle/docker-tools
	url = git@github.com:kkvh/vim-docker-tools.git
